.footer {
  display: flex;
  justify-content: center;

  padding: 20px 0;

  @media (max-width: #{$md3}px) {
    padding: 12px 0;
  }

  &__author, &__link {
    text-align: center;
    @media (max-width: #{$md3}px) {
      font-size: 14px;
    }

    @media (max-width: #{$md4}px) {
      font-size: 12px;
    }
  }

  &__author {
    margin-bottom: 10px;

    @media (max-width: #{$md3}px) {
      margin-bottom: 6px;
    }
  }

  &__link {
    display: block;
  }
}